body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  color: #585c63;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  width: 20em;
  height: 2em;
}

select {
  width: 5em;
  height: 2.3em;
}

button,
.button {
  width: 10em;
  height: 3em;
  cursor: pointer;
  background-color: #e50091;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-weight: bolder;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.search-btn {
  display: flex;
  flex-direction: row;
}
.user-description {
  display: flex;
  flex-direction: column;
}
.select-city {
  width: 15.5em;
}
.search {
  width: 5em;
  height: 2.3em;
  border-radius: 0px 7px 7px 0px;
}
