body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  color: #585c63;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  width: 20em;
  height: 2em;
}
span {
  margin: 0.2em;
  font-weight: bolder;
}
select {
  width: 5em;
  height: 2.3em;
}

button,
.button {
  width: 10em;
  height: 3em;
  cursor: pointer;
  background-color: #e50091;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-weight: bolder;
}
.btn-small {
  margin: 0.5em;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.search-btn {
  display: flex;
  flex-direction: row;
}
.user-description {
  display: flex;
  flex-direction: column;
  border: 1px solid #585c63;
  margin: 1em;
  background-color: #e7e7e7;
  overflow: auto;
  max-height: 20em;
  padding: 0.5em;
}
.select-city {
  width: 15.5em;
}
.select-gender {
  width: 20.5em;
}
.search {
  width: 5em;
  height: 2.3em;
  border-radius: 0px 7px 7px 0px;
}
.micro-btn {
  height: 2em;
  width: 5em;
}
.card-container {
  display: flex;
  flex-direction: row;
}
.card {
  margin: 2em;
  border: 1px solid #e50091;
  padding: 2em;
}
